{
    "extends": "airbnb",
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "newline-after-var": 2,
    },
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    }
}
